/* You can customize theme styles here */
.header .navbar-brand span:first-child{
    color: #478079;
}
.header .container{
    padding-left: 10px;
}

html body ::selection{
    background-color:#488079;color:#fff
}

/* .projects_container {
    display: flex;
    flex-direction: row;
}

.projects_container .experience {
    width: 50%;
}

@media (max-width: 767px) {
    .projects_container {
        display: flex;
        flex-direction: column;
    }

    .projects_container .experience {
        width: 100%;
    }
} */